<!-- Add this to your 'about.html' file -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="static/about.css"> <!-- You can create a separate CSS file for the about page -->
</head>
<body>
    <!-- Navigation bar on the top -->
     <div class="navbar">
        <div class="name">
            <a href="/">Happiness</a>
        </div>
        <div class="right">
            <div class="score">
            <a href="/score">Happiness Score</a>
            </div>
            <div class="about">
            <a href="/about">About</a>
            </div>
        </div>
    </div>

    <!-- About Page Content -->
    <div class="about-content">
        <div class="about-us">
            <h1>About Us</h1>
            <p>Welcome to the Happiness Report Generator project. This project aims to predict happiness scores based on various parameters and features. It is designed to provide insights into the well-being of different countries and regions.</p>
            <p>Our team is dedicated to providing accurate and meaningful happiness scores for analysis and research. If you have any questions or feedback, please feel free to contact us.</p>
            <h1>Our Team</h1>
            <h3>Gracika Jain</h3>
            <h3>Nidhi Ann Alex</h3>
            <h3>Tanishq Jaiswal</h3>
            <h3>Shivam Kumar Jha</h3>
        </div>
</body>
</html>
