<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static\styles.css">
</head>
<body>
    <div class="navbar">
        <div class="name">
            <a href="/">Happiness</a>
        </div>
        <div class="right">
            <div class="score">
            <a href="/score">Happiness Score</a>
            </div>
            <div class="about">
            <a href="/about">About</a>
            </div>
        </div>
    </div>

    <div class="home">
        <div class="details">
            <div class="intro">
                <h1>Discover</h1>
                <h1 style="color: rgb(56, 195, 165);">Happiness</h1>
                <h3>Are you ready to unlock your happiness potential? Click the "Get Started" 
                    button below to begin your journey towards greater happiness!
                </h3>
                <div class="btn">
                    <a href="/report"><button>Get Started </button></a>
                </div>
            </div>
        </div>
        <div class="image"></div>
    </div>
</body>
</html>

